<div class="host-container">
  <div class="landlord-box">
    <div class="host-identical-size imgh">

    </div>
  </div>
  <div class="host-details">
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1467004829965 desktop-show" id="stub">
      <div class="container" style="padding: 0 40px;">
        <div class="wpb_column vc_column_container vc_col-sm-12">
          <div class="vc_column-inner stubb">
            <div class="wpb_wrapper">
              <h3 class="">Update Profile</h3>
              <p>{{ profileUpdateMessage }}</p>
              <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                  <form action="" class="update-p">
                    <input type="text" [value]="firstName" [(ngModel)]="firstName" [ngModelOptions]="{standalone: true}" class="input-field" placeholder="FirstName" required>
                    <input type="text" [value]="lastName" [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}" class="input-field" placeholder="LastName" required>
                    <input type="submit" value="Update names" (click)="updateProfile($event)" class="input-submit">
                  </form>
                </div>
              </div>
              <p>{{ emailUpdateMessage }}</p>
              <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                  <form action="" class="update-p">
                    <input type="text" [value]="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="input-field" placeholder="Email address" required>
                    <input type="submit" value="Update email" (click)="updateEmail($event)" class="input-submit">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
