<div class="header_menu">
  <!-- Header -->
  <header class="hidden">
    <div id="header-container">
      <!-- Logo -->
      <div id="logo">
        <a class="animation-link" href="index.html">
          <img src="./assets/img/Group 19.png" alt="Logo" />
        </a>
      </div>
      <!-- /Logo -->
      <div id="header-title-div" style="">
        <div id="header-title" style="">BUNKERS Menu</div>
      </div>
      <!-- Menu Button -->
      <button class="hamburger hamburger-rotate hidden">
        <span>toggle menu</span>
      </button>
      <!-- /Menu Button -->
    </div>
  </header>
  <!-- /Header -->

  <!-- Menu Overlay -->
  <div id="menu-overlay">
    <div class="outer">
      <div class="inner">
        <div id="close-menu"></div>
        <nav class="menu-main-menu-container">
          <ul id="menu-main-menu" class="main-menu">

            <li id="menu-item-84" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-84">
              <a href="Experience/index.html" class="animation-link menu-link">Host an activity</a>
            </li><br>
            <li id="menu-item-84" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-84">
              <a href="index2.html" class="animation-link menu-link">View all listings</a>
            </li>

          </ul>
        </nav>
        <div class="menu-footer">
          <ul class="socials">
            <li>
              <a href="https://www.facebook.com/bunks" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/bunks" target="_blank"><i class="fa fa-twitter" style="padding:7px;"></i></a>
            </li>
            <li>
              <a href="https://www.behance.net/bunks" target="_blank"><i class="fa fa-behance"></i></a>
            </li>
          </ul>
          <p class="copyright">2018 © bunks. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Menu Overlay -->
</div>
