<div class="header_menu">
  <!-- Header -->
  <header class="hidden">
    <div id="header-container">
      <!-- Logo -->
      <div id="logo">
        <a>
          <img src="./assets/img/Group 19.png" alt="Logo" />
        </a>
      </div>
      <!-- /Logo -->
      <div id="header-title-div" style="">
        <div id="header-title" style="">BUNKERS Menu</div>
      </div>
      <!-- routerLink = "/auth/login" -->
      <div class="hamburger-user" style="background: url('./assets/img/user-4.jpg')"></div>
      <!-- Menu Button -->
      <!-- <button class="hamburger hamburger-rotate hidden">
        <span>toggle menu</span>
      </button> -->
      <!-- /Menu Button -->
    </div>
  </header>
  <!-- /Header -->

  <!-- Menu Overlay -->
  <div id="menu-overlay">
    <div class="outer">
      <div class="inner">
        <div id="close-menu"></div>
        <nav class="menu-main-menu-container">
          <ul id="menu-main-menu" class="main-menu">

            <li id="menu-item-84" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-84">
              <a [routerLink]="'/'" class="animation-link menu-link">Home</a>
            </li>
            <li id="menu-item-84" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-84">
              <a [routerLink]="'/spaces'" class="animation-link menu-link">Search Hostels</a>
            </li>
            <li id="menu-item-84" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-84">
              <a [routerLink]="'/spaces'" class="animation-link menu-link">Search Apartments</a>
            </li>
            <li id="menu-item-84" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-84">
              <a [routerLink]="'/host-apartment'" class="animation-link menu-link">Host a Shared Apartment</a>
            </li>

            <li id="menu-item-84" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-84">
              <a [routerLink]="'/host-experience'" class="animation-link menu-link">Host an activity</a>
            </li>

          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div id="menu-overlayt">
    <div class="outer">
      <div class="inner" style="">
        <div id="close-menu"></div>
        <nav class="menu-main-menu-container">
          <ul id="menu-main-menu" class="main-menu" style="position: relative;">

            <li id="menu-item-84" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-84">
              <a routerLink="/auth/login" class="animation-link menu-link">Login</a>
            </li><br>
            <li id="menu-item-84" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-84">
              <a routerLink="/auth/signup" class="animation-link menu-link">Signup</a>
            </li><br>
            <li id="menu-item-75"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-75 has-sub">
              <a>Landlord Menu</a>
              <ul class="sub-menu" style="text-align: left;">
                <li id="menu-item-76" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76"><a
                    routerLink="/landlord/update-profile" class="animation-link menu-link"><i class="fa fa-edit menu-awe"></i> Update Profile</a>
                </li>
                <li id="menu-item-77" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77 options-user"><a
                     class="animation-link menu-link"><i class="fa fa-home menu-awe"></i> Upload Apartments</a></li>
                <li id="menu-item-180" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-180 options-user">
                  <a  class="animation-link menu-link"><i class="fa fa-building menu-awe"></i> View all Apartments</a></li>
                <li id="menu-item-180" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-180 options-user">
                  <a class="animation-link menu-link"><i class="fa fa-refresh menu-awe"></i> Update Apartments</a></li>
                <li id="menu-item-75"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-75 has-sub options-user">
                  <a><i class="fa fa-key menu-awe"></i> Password Settings</a>
                  <ul class="sub-menu">
                    <li id="menu-item-76" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76">
                      <a routerLink="/landlord/password-setting" class="animation-link menu-link">Update Password</a>
                    </li>
                    <!-- <li id="menu-item-77" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77">
                      <a href="../../personal-resume/index.html" class="animation-link menu-link">Something password</a>
                    </li> -->
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
        <div class="signout"><i class="fa fa-sign-out"></i> Logout</div>
      </div>
    </div>
  </div>

  <!-- Menu Overlay -->
</div>
