<div class="host-container">
  <div class="landlord-box">
    <div class="host-identical-size imgh">

    </div>
  </div>
  <div class="host-details">
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1467004829965 desktop-show">
      <div class="container" style="padding: 0 40px;">
        <div class="wpb_column vc_column_container vc_col-sm-12">
          <div class="vc_column-inner " style="position: relative; left: 9%;">
            <div class="wpb_wrapper">
              <h3 class="">Change Password</h3>
              <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                  <form action="" class="update-p">
                    <input type="text" class="input-field" placeholder="Current Password">
                    <input type="text" class="input-field" placeholder="New Password">
                    <input type="text" class="input-field" placeholder="Confirm Password">
                    <input type="submit" value="Update" class="input-submit">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
