<div class="vc_row wpb_row vc_row-fluid" id="th">
        <div class="container" id="one">
            <div class="wpb_column vc_column_container vc_col-sm-2" style="margin-top: 70px; ">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <span class="bookss">Bunks</span>
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <ul class="footp">
                                    <li style="margin-top: 14px;">News</li>
                                    <li>Policies</li>
                                    <li>Help</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-4" style="margin-top: 70px;">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <span class="bookss">Partnership</span>
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <ul class="footp">
                                    <li style="margin-top: 14px;">Landlords</li>
                                    <li>Host an experience</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="two">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <hr style="border-top: 1px solid rgb(227, 225, 225) !important">
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="t">
            <div class="wpb_column vc_column_container vc_col-sm-8">
                <div class="vc_column-inner " id="three">
                    <div class="wpb_wrapper" id="thre">
                        <!-- <span class="bookss">Hosting</span> -->
                        <div class="wpb_text_column wpb_content_element" id="thr">
                            <div class="wpb_wrapper">
                                <!-- <div class="fimg"></div> -->
                                <div class="fimg">
                                    <a class="animation-link" href="index.html">
                                        <img src="./assets/img/logrey.png" alt="Logo" />
                                    </a>
                                    <span>&#169;2019 Bunks,Inc. All rights reserved.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>