<div id="main">
  <div id="main-content" class="hidden">
    <!-- Container -->
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1467336115996 vc_row-has-fill not-mobile"
         style="margin-bottom: 10px; margin-right: -19px !important">
      <div class="container mfp-gallery" style="padding: 0 !important;">
        <div class="wpb_column vc_column_container vc_col-sm-6" style="padding: 0 !important;">
          <div class="vc_column-inner" style="padding: 0 !important;">
            <div class="wpb_wrapper">
              <a class="mf-zoom" href="./assets/img/white-concrete-high-rise-building-2119714-min.jpg">
                <div style="border: 3px solid rgb(72,72,72);" class="hover-zoom">
                  <img src="./assets/img/white-concrete-high-rise-building-2119714-min.jpg" alt=""/>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-3" style="padding: 0 !important;">
          <div class="vc_column-inner" style="padding: 0 !important; display: flex; flex-direction: column;">
            <div class="wpb_wrapper">
              <div style="border: 3px solid rgb(72,72,72); border-left: 0; border-top: 0;" class="hover-zoom">
                <img src="./assets/img/apa2.jpg" alt=""/>
              </div>
            </div>
            <div class="wpb_wrapper">
              <a class="mf-zoom" href="./assets/img/apartment-bathroom-bathtub-2134224.jpg">
                <div style="border: 3px solid rgb(72,72,72); border-left: 0; border-top: 0" class="hover-zoom">
                  <img src="./assets/img/apartment-bathroom-bathtub-2134224.jpg" alt=""/>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-3" style="padding: 0 !important; border-top: 0">
          <div class="vc_column-inner" style="padding: 0 !important; display: flex; flex-direction: column;">
            <div class="wpb_wrapper">
              <div style="border: 3px solid rgb(72,72,72); border-left: 0; border-top: 0" class="hover-zoom">
                <img src="./assets/img/apa2.jpg" alt=""/>
              </div>
            </div>
            <div class="wpb_wrapper">
              <a class="mf-zoom" href="./assets/img/apa2.jpg">
                <div style="border: 3px solid rgb(72,72,72); border-left: 0; border-top: 0;" class="hover-zoom">
                  <img src="./assets/img/apa2.jpg" alt=""/>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1467336115996 vc_row-has-fill" id="display-mobile">
      <div class="container" style="padding: 0 !important; margin-top: -16px !important;">
        <div class="wpb_column vc_column_container vc_col-sm-12" style="padding: 0 !important;">
          <div class="vc_column-inner" style="padding: 0 !important;">
            <div class="wpb_wrapper">
              <div class="classic-slider flexslider mfp-gallery" style="z-index: 4000">
                <ul>
                  <li style="display: block">
                    <a _ngcontent-nkw-c5="" class="mf-zoom mf-styles" href="./assets/img/apa2.jpg">View all</a>
                    <a href="./assets/img/apa3.jpg" class="mf-zoom"></a>
                  </li>
                </ul>
                <ul class="slides">
                  <li>
                    <img src="./assets/img/apa2.jpg" alt=""/>
                  </li>
                  <li>
                    <img src="./assets/img/apa3.jpg" alt=""/>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-available-container">
      <div class="mobile-contact-info active">Contact info</div>
      <div class="mobile-check-availability">Check availability</div>
    </div>
    <div class="modal-overlay">
      <div class="modal" style="z-index: 2000 !important;">

        <a class="close-modal">
          <svg viewBox="0 0 20 20">
            <path fill="#000000"
                  d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z"></path>
          </svg>
        </a><!-- close modal -->

        <div _ngcontent-igi-c5="" class="modal-content" style="width: 80%;">
          <form class="guest_form">
            <label for="no_of_guestss">Number of guest</label>
            <input type="number" placeholder="Number of guests" id="no_of_guestss" class="guest_input">
            <button class="clapat-button big_font">Check availability</button>
          </form>
        </div><!-- mobile-guest-form-content -->
      </div><!-- modal -->
    </div><!-- mobile-guest-overlay -->
    <div class="modal-overlay-contact">
      <div class="modal-contact" style="z-index: 2000 !important;">
        <a class="close-modal-contact">
          <svg viewBox="0 0 20 20">
            <path fill="#000000"
                  d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z"></path>
          </svg>
        </a><!-- close modal -->

        <div _ngcontent-igi-c5="" class="modal-content-contact" style="width: 80%;">
          <form class="guest_form">
            <div class="parent flex-center">
              <div class="boxs flex-card">
                <div class="imagee"><img src="./assets/img/Group 19.png" style="position:relative;top: 7px"></div>
                <div class="text"><h2>Mark Esyon</h2></div>
                <div class="call"><img src="https://img.icons8.com/cute-clipart/64/000000/phone.png"></div>
              </div>
            </div>
          </form>
        </div><!-- mobile-guest-form-content -->
      </div><!-- modal -->
    </div><!-- mobile-guest-overlay -->
    <div style="background: red; position: sticky; top: 2vh;">
      <div style="position:relative; background: red">
        <div class="vc_col-sm-4 res-spott">
          <div class="book-reserve">
            <div class="br1">
              <div>
                <div></div>
                <div>
                  <div class="br2">
                    <div class="br3">
                      <span class="brt1">Price:</span>
                      <span class="brt2">
                    <span class="brt3">#450K</span>
                  </span>
                      <span class="br4">
                    <span class="br4t">
                      per year
                    </span>
                  </span>
                    </div>
                  </div>
                  <div>
                    <button class="btn-review">
                      <div class="_1iv05u9z">
                        <div class="_1lqf9qr0" aria-label="Rating 4.93 out of 5" role="img">
                          <div class="_1julapm"><span role="img" aria-label="Rating 1 out of 5" class="_m5wjo84"
                                                      style="width: 10px;">
                        <span class="_83zdpk">
                          <span class="_n6glpd7" style="width: 10px;">
                          </span>
                        </span>
                      </span>
                          </div>
                          <div class="_1julapm">
                            <div style="margin-right: 2px;">
                              <div class="_tghtxy2">4.93</div>
                            </div>
                          </div>
                        </div>
                        <span class="_krjbj">256 reviews</span>
                        <div class="_14hveccc" aria-hidden="true"><span class="_1plk0jz1">(256 reviews)</span></div>
                      </div>
                    </button>
                  </div>
                  <div style="margin-top: 16px; margin-bottom: 16px;">
                    <div class="_7qp4lh"></div>
                  </div>
                  <div class="_18tw0dv"></div>
                  <form action="">
                    <div class="get-space">
                      <div style="margin-bottom: 16px;">
                        <div><label for="number_of_guests" class="_xybsfh"><span
                          class="_so3dpm2">Guests</span></label>
                          <div class="_e296pg">
                            <div class="_1xligvk">
                              <!-- <select name="" class="_15w9m01" id="">
                                <div style="margin-left: 8px; margin-right: 8px;">
                                  <option class="guest-label">
                                    <span class="guest-label__text guest-label__text-guests">4
                                      guests</span>
                                  </option>

                                </div>
                              </select> -->
                              <button class="_15w9m01" type="button" aria-expanded="false">
                                <div style="margin-left: 8px; margin-right: 8px;">
                                  <div class="_czm8crp">
                                    <div class="_hgs47m">
                                      <div class="_10ejfg4u">
                                        <div class="guest-label"><span
                                          class="guest-label__text guest-label__text-guests">4
                                        guests</span></div>
                                      </div>
                                      <div class="_ni9axhe">
                                        <svg viewBox="0 0 18 18" role="presentation" aria-hidden="true"
                                             focusable="false"
                                             style="height: 16px; width: 16px; display: block; fill: currentcolor;">
                                          <path
                                            d="m16.29 4.3a1 1 0 1 1 1.41 1.42l-8 8a1 1 0 0 1 -1.41 0l-8-8a1 1 0 1 1 1.41-1.42l7.29 7.29z"
                                            fill-rule="evenodd"></path>
                                        </svg>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </button>
                              <div></div>
                            </div>
                          </div>
                          <input type="hidden" name="number_of_guests" value="1"><input type="hidden"
                                                                                        name="number_of_adults"
                                                                                        value="4"><input type="hidden"
                                                                                                         name="number_of_children"
                                                                                                         value="0"><input
                            type="hidden" name="number_of_infants" value="0">
                        </div>
                      </div>

                    </div>
                    <div style="margin-top: 24px;">
                      <div class="_12uu85n">
                        <button type="submit" class="clapat-button" aria-busy="false" data-veloute="book-it-button">
                      <span class="_ftj2sg4">
                        <div class="_10cu6uvp">Check Availability</div>
                      </span>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vc_col-sm-4 res-spott"
             style="position: absolute !important; right: 8.5vw !important;top: 275px !important;">
          <div class="parent flex-center">
            <div class="boxs flex-card">
              <div class="imagee"><img src="./assets/img/Group 19.png" style="position:relative;top: 7px"></div>
              <div class="text"><h2>Mark Esyon</h2></div>
              <div class="call"><img src="https://img.icons8.com/cute-clipart/64/000000/phone.png"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1467004829965" id="vtop">
      <div class="container">
        <div class="wpb_column vc_column_container vc_col-sm-7 sd">
          <div class="vc_column-inner" style="display: flex !important; flex-direction: column !important;">
            <div class="wpb_wrapper">
              <h3 class="title-has-line space-title" id="space-titlee">Amazing view - Moderne apartment</h3>
              <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                  <div class="title-apartment">
                    <p class="landlords" style="margin-top: 20px !important"><strong>Iwaya</strong>
                      <br><span class="user-name">Hosted by Malik</span>
                    </p>
                    <div class="user-det">
                      <a routerLink="/host-portfolio" class="apartment-owner"
                         style="background: url('../../../../assets/img/user-owneer.jpg')"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wpb_wrapper">
              <div class="vc_row wpb_row vc_row-fluid vc_custom_1467004829965" style="margin-top: -9px;">
                <div class="container" style="padding: 0; display: flex;">
                  <span style="margin-left: 10px !important;" id="space-det">6 guests</span>
                  <span class="space-det">3 bedrooms</span>
                  <span class="space-det">6 beds</span>
                  <span class="space-det">4 baths</span>
                </div>
              </div>
            </div>

            <div class="wpb_wrapper">
              <div class="vc_row wpb_row vc_row-fluid vc_custom_1467004829965" style="margin-top: -9px;">
                <div class="container" style="padding: 0; width: 100% !important;">
                  <hr style="background: #EBEBEB; height: 1px;">
                </div>
              </div>
            </div>

            <div class="wpb_wrapper" style="margin-top: 27px">
              <div class="container" style="padding: 0; display: flex; flex-direction: column;">
                <div class="gundam">
                  <div class="gundam-item1"><i class="fa fa-home"></i></div>
                  <div class="gundam-item2">
                    <span class="_1p3joamp">Entire home</span>
                    <span style="font-family: poppinsr; font-size: 14px; margin-left: 4px;">You'll have the home to
                      yourselves</span>
                  </div>
                </div>
                <div class="gundam" style="margin-top: 15px;">
                  <div class="gundam-item1"><i class="fa fa-bell"></i></div>
                  <div class="gundam-item2">
                    <span class="_1p3joamp">Self check-in</span>
                    <span style="font-family: poppinsr; font-size: 14px; margin-left: 4px;">Check yourself in with
                      the
                      lockbox.</span>
                  </div>
                </div>
                <div class="gundam" style="margin-top: 15px;">
                  <div class="gundam-item1"><i class="fa fa-map-marker"></i></div>
                  <div class="gundam-item2">
                    <span class="_1p3joamp">Great location</span>
                    <span style="font-family: poppinsr; font-size: 14px; margin-left: 4px;">Check yourself in with
                      the
                      lockbox.</span>
                  </div>
                </div>
              </div>
              <!-- </div> -->
            </div>

            <div class="wpb_wrapper" style="margin-top: 15px;">
              <div class="vc_row wpb_row vc_row-fluid vc_custom_1467004829965" style="margin-top: -9px;">
                <div class="container" style="padding: 0; width: 100% !important;">
                  <hr style="background: #EBEBEB;
                        height: 1px;">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- <div style="background: red;
    padding: 20px;
    position: sticky;
    width: 100%;
    top: 0;">efefe.</div> -->
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1467004829965" style="margin-top: 20px; font-family: poppinsr;">
      <div class="container" style="">
        <div class="wpb_column vc_column_container vc_col-sm-7">
          <div class="vc_column-inner" style="padding: 0;display: flex; flex-direction: column;">
            <div class="wpb_wrapper">
              <span style="color: #000;">
                The Off-grid itHouse brings together raw industrial aesthetics with the tactics of green design to
                forge
                a new home in the sunbaked wilds of the California high desert.
              </span>
            </div>
            <div class="wpb_wrapper ammenities">
              <div class="vc_row wpb_row vc_row-fluid vc_custom_1467004829965" style="margin-top: -9px;">
                <div class="container" style="padding: 0; width: 100% !important;">
                  <hr style="background: #EBEBEB;
                        height: 1px;">
                </div>
              </div>
            </div>

            <div class="wpb_wrapper ammenities">
              <div class="container ammenities-list">
                <div class="ammenities-title">Ammenities</div>
                <div style="display: flex; flex-direction: row; justify-content: space-between">
                  <div style="width: 200px;">
                    <span>Parking lot</span>

                  </div>
                  <div style="width: 200px">
                    <span>Unlimited wi-Fi</span>

                  </div>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 15px;">
                  <div style="width: 200px">
                    <span>Equipped kitchen</span>
                  </div>
                  <div style="width: 200px">
                    <span>Laundery</span>
                  </div>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 15px;">
                  <div style="width: 200px">
                    <span>Carbon monoxide detector</span>
                  </div>
                  <div style="width: 200px">
                    <span>Lockbox</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="wpb_wrapper ammenities" style="height: 80px; opacity: 0;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
