.flex-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boxs {
  width: 350px;
  padding: 1px 40px 8px 10px;
  border-radius: 25px;
  border: 1px solid rgb(228, 228, 228) !important;
}

.text h2 {
  color: #212121;
  font-size: 1.3em;
  letter-spacing: .01em;
}

.imagee img {
  width: 70px;
  height: auto;
  border-radius: 50px;
}

.call img {
  width: 27px;
}

.sub-pic {
  flex-grow: 1;
}

.title-apartment {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
}

.user-name {
  position: relative;
  top: 10px;
  text-transform: initial;
  font-size: 14px;
  font-family: coco-light;
  font-weight: 900;
}

.user-det {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.user-det span {
  position: absolute;
  bottom: -33px !important;
}

.apartment-owner {
  width: 60px;
  height: 60px;
  border-radius: 40px;
  margin-top: 7px;
  margin-left: auto;
  background-size: cover !important;
  cursor: pointer;
}

.hover-zoom {
  overflow: hidden;
  cursor: pointer;
}

.hover-zoom img {
  transition: transform .5s ease;
}

.hover-zoom:hover img {
  transform: scale(1.06);
}

.ammenities {
  margin-top: 18px;
}

.gundam {
  display: flex;
  flex-direction: row;
}

.gundam-item1 {
  flex-grow: 1
}

.gundam-item2 {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
}

.ammenities-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-self: right;
  float: left;
}


.ammenities-title {
  font-size: 18px;
  color: #000;
  font-weight: 590;
  margin-bottom: 10px;
}

@media(max-width: 1026px) {
  .gundam-item2 {
    flex-grow: 9;
  }

  .ammenities-list {
    width: 100%;
  }

  .ammenities {
    margin-top: 18px;
  }


}

@media(max-width: 613px) {
  .gundam-item2 {
    flex-grow: 3;
  }
}
