<div class="topo">
  <div class=""
    style="width: 95% !important; float: right;margin: 2rem 0;padding-bottom: 15px; border-bottom: 1px solid #e4e4e4 !important">
    <form action="" class="topoo">
      <input type="search" placeholder="Lagos">
    </form>
  </div>
  <div class="" style="width: 95% !important; float: right; display: flex; margin-top: -18px;">
    <div action="" class="topoof" style="">
      <span>Dates</span>
    </div>
    <div action="" class="topoob" style="">
      <span>Guests</span>
    </div>
    <div action="" class="topoob" style="">
      <span>Filters</span>
    </div>
  </div>
</div>

<div id="main">
  <div id="main-content" class="hidden" style="">
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1454629463876">
      <div class="container" style="margin: 0; padding: 0 3.5rem; width: 100%;">
        <div class="wpb_column vc_column_container vc_col-sm-12">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element ">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="vc_row wpb_row vc_row-fluid vc_custom_1454629463876">
      <div class="container" style="margin: 0; padding: 0 3.5rem; width: 100%;">
        <a [routerLink]="'/space-details'">
          <div class="wpb_column vc_column_container vc_col-sm-3 card" style=" padding: 2rem 0;">
            <div class=" vc_column-inner ">
              <div class="wpb_wrapper">
                <div class=" wpb_wrapper" style="width: inherit;">
                  <img src="./assets/img/firstapa.jpg" class="card-img-top" alt="..." style="border-radius: 5px;">
                  <div class="card-body">
                    <p class="card-text und">private rooms in house. 8 guests</p>
                    <h5 class="card-title undo">GreenHouse Cozy Mango Room</h5>
                    <div class="uno">
                      <div class="uno1">
                        <div>
                          <div class="uno11">
                            <span class="spawn">
                              <span class="uno111">
                                <span class="uno1111"></span>
                                #350k
                              </span>
                              / year
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="apartment-details.html">
          <div class="wpb_column vc_column_container vc_col-sm-3"
            style="margin-bottom: 8px !important; padding: 2rem 0;">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper">
                <div class="card wpb_wrapper" style="width: inherit;">
                  <img src="./assets/img/apa2.jpg" class="card-img-top" alt="..." style="border-radius: 5px;">
                  <div class="card-body">
                    <p class="card-text und">private rooms in house. 8 guests</p>
                    <h5 class="card-title undo">GreenHouse Cozy Mango Room</h5>
                    <div class="uno">
                      <div class="uno1">
                        <div>
                          <div class="uno11">
                            <span class="spawn">
                              <span class="uno111">
                                <span class="uno1111"></span>
                                #350k
                              </span>
                              / year
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>

        <a href="apartment-details.html">
          <div class="wpb_column vc_column_container vc_col-sm-3"
            style="margin-bottom: 8px !important;padding: 2rem 0;">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper">
                <div class="card wpb_wrapper" style="width: inherit;">
                  <img src="./assets/img/apa3.jpg" class="card-img-top" alt="..." style="border-radius: 5px;">
                  <div class="card-body">
                    <p class="card-text und">private rooms in house. 8 guests</p>
                    <h5 class="card-title undo">GreenHouse Cozy Mango Room</h5>
                    <div class="uno">
                      <div class="uno1">
                        <div>
                          <div class="uno11">
                            <span class="spawn">
                              <span class="uno111">
                                <span class="uno1111"></span>
                                #350k
                              </span>
                              / year
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <div class="wpb_column vc_column_container vc_col-sm-3" style="margin-bottom: 8px !important;padding: 2rem 0;">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div class="card wpb_wrapper" style="width: inherit;">
                <img src="./assets/img/apa4.jpg" class="card-img-top" alt="..." style="border-radius: 5px;">
                <div class="card-body">
                  <p class="card-text und">private rooms in house. 8 guests</p>
                  <h5 class="card-title undo">GreenHouse Cozy Mango Room</h5>
                  <div class="uno">
                    <div class="uno1">
                      <div>
                        <div class="uno11">
                          <span class="spawn">
                            <span class="uno111">
                              <span class="uno1111"></span>
                              #350k
                            </span>
                            / year
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-3" style="margin-bottom: 8px !important;padding: 2rem 0;">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div class="card wpb_wrapper" style="width: inherit;">
                <img src="./assets/img/apa5.jpg" class="card-img-top" alt="..." style="border-radius: 5px;">
                <div class="card-body">
                  <p class="card-text und">private rooms in house. 8 guests</p>
                  <h5 class="card-title undo">GreenHouse Cozy Mango Room</h5>
                  <div class="uno">
                    <div class="uno1">
                      <div>
                        <div class="uno11">
                          <span class="spawn">
                            <span class="uno111">
                              <span class="uno1111"></span>
                              #350k
                            </span>
                            / year
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-3" style="margin-bottom: 8px !important;padding: 2rem 0;">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div class="card wpb_wrapper" style="width: inherit;">
                <img src="./assets/img/firstapa.jpg" class="card-img-top" alt="..." style="border-radius: 5px;">
                <div class="card-body">
                  <p class="card-text und">private rooms in house. 8 guests</p>
                  <h5 class="card-title undo">GreenHouse Cozy Mango Room</h5>
                  <div class="uno">
                    <div class="uno1">
                      <div>
                        <div class="uno11">
                          <span class="spawn">
                            <span class="uno111">
                              <span class="uno1111"></span>
                              #350k
                            </span>
                            / year
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-3" style="margin-bottom: 8px !important;padding: 2rem 0;">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div class="card wpb_wrapper" style="width: inherit;">
                <img src="./assets/img/firstapa.jpg" class="card-img-top" alt="..." style="border-radius: 5px;">
                <div class="card-body">
                  <p class="card-text und">private rooms in house. 8 guests</p>
                  <h5 class="card-title undo">GreenHouse Cozy Mango Room</h5>
                  <div class="uno">
                    <div class="uno1">
                      <div>
                        <div class="uno11">
                          <span class="spawn">
                            <span class="uno111">
                              <span class="uno1111"></span>
                              #350k
                            </span>
                            / year
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-3" style="margin-bottom: 8px !important; padding: 2rem 0;">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div class="card wpb_wrapper" style="width: inherit;">
                <img src="./assets/img/firstapa.jpg" class="card-img-top" alt="..." style="border-radius: 5px;">
                <div class="card-body">
                  <p class="card-text und">private rooms in house. 8 guests</p>
                  <h5 class="card-title undo">GreenHouse Cozy Mango Room</h5>
                  <div class="uno">
                    <div class="uno1">
                      <div>
                        <div class="uno11">
                          <span class="spawn">
                            <span class="uno111">
                              <span class="uno1111"></span>
                              #350k
                            </span>
                            / year
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-3" style="margin-bottom: 8px !important; padding: 2rem 0;">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div class="card wpb_wrapper" style="width: inherit;">
                <img src="./assets/img/firstapa.jpg" class="card-img-top" alt="..." style="border-radius: 5px;">
                <div class="card-body">
                  <p class="card-text und">private rooms in house. 8 guests</p>
                  <h5 class="card-title undo">GreenHouse Cozy Mango Room</h5>
                  <div class="uno">
                    <div class="uno1">
                      <div>
                        <div class="uno11">
                          <span class="spawn">
                            <span class="uno111">
                              <span class="uno1111"></span>
                              #350k
                            </span>
                            / year
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-3" style="margin-bottom: 8px !important; padding: 2rem 0;">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div class="card wpb_wrapper" style="width: inherit;">
                <img src="./assets/img/firstapa.jpg" class="card-img-top" alt="..." style="border-radius: 5px;">
                <div class="card-body">
                  <p class="card-text und">private rooms in house. 8 guests</p>
                  <h5 class="card-title undo">GreenHouse Cozy Mango Room</h5>
                  <div class="uno">
                    <div class="uno1">
                      <div>
                        <div class="uno11">
                          <span class="spawn">
                            <span class="uno111">
                              <span class="uno1111"></span>
                              #350k
                            </span>
                            / year
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-3" style="margin-bottom: 8px !important;">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div class="card wpb_wrapper" style="width: inherit;">
                <img src="./assets/img/firstapa.jpg" class="card-img-top" alt="..." style="border-radius: 5px;">
                <div class="card-body">
                  <p class="card-text und">private rooms in house. 8 guests</p>
                  <h5 class="card-title undo">GreenHouse Cozy Mango Room</h5>
                  <div class="uno">
                    <div class="uno1">
                      <div>
                        <div class="uno11">
                          <span class="spawn">
                            <span class="uno111">
                              <span class="uno1111"></span>
                              #350k
                            </span>
                            / year
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
