<div class="host-container">
  <div class="host-box">
    <div class="host-identical-size">
      <div class="host-image" style="background: url(./assets/img/user-owneer.jpg)"></div>
      <div class="wpb_wrapper mobile-show">
        <h2 class="title-has-line" style="text-align: center;">Ademadu Malik</h2>
        <div class="wpb_text_column wpb_content_element checks">
          <div class="wpb_wrapper">
            <p class="landlords">My goal is to create lasting and meaningful relationships to my
              clients&#8217;s brand and their audience through my rentals.</p>
          </div>
        </div>
      </div>
      <div class="container divider one" style="padding: 0;">
        <hr style="background: #EBEBEB;
        height: 1px;">
      </div>
      <div class="host-credentials one">
        <div class="credential-inner">
          <div class="credential-item"><svg style="fill: #ff5a5f" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512">
              <path
                d="M256 32c-70.7 0-128 57.3-128 128s57.3 128 128 128 128-57.3 128-128S326.7 32 256 32zm0 208c-44.2 0-80-35.8-80-80s35.8-80 80-80 80 35.8 80 80-35.8 80-80 80zM193.7 307.4c-19.1-8.1-36.2-19.6-50.8-34.3-1.4-1.4-2.8-2.8-4.1-4.3L64 400h96l48 80 48-105.8 25.5-56.2c-8.4 1.3-16.9 2-25.5 2-21.6 0-42.5-4.2-62.3-12.6zM373.3 268.9c-1.3 1.4-2.7 2.9-4.1 4.3-14.6 14.6-31.7 26.2-50.7 34.2L294 361.2l-21.9 48.4L304 480l48-80h96l-74.7-131.1z">
              </path>
            </svg> Host</div>
          <div class="credential-item"><svg style="fill: #ffb400" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512">
              <path
                d="M170.718 216.482L141.6 245.6l93.6 93.6 208-208-29.118-29.118L235.2 279.918l-64.482-63.436zM422.4 256c0 91.518-74.883 166.4-166.4 166.4S89.6 347.518 89.6 256 164.482 89.6 256 89.6c15.6 0 31.2 2.082 45.764 6.241L334 63.6C310.082 53.2 284.082 48 256 48 141.6 48 48 141.6 48 256s93.6 208 208 208 208-93.6 208-208h-41.6z">
              </path>
            </svg> Verified
          </div>
        </div>
      </div>
      <div class="container divider second one">
        <hr style="background: #EBEBEB;
            height: 1px;">
      </div>
      <div class="host-credentials-govt one">
        <div class="credential-inner-govt">
          <span>Malik Provided</span>
          <div class="credential-item-govt"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path
                d="M256 48C141.6 48 48 141.6 48 256s93.6 208 208 208 208-93.6 208-208S370.4 48 256 48zm-42.7 318.9L106.7 260.3l29.9-29.9 76.8 76.8 162.1-162.1 29.9 29.9-192.1 191.9z">
              </path>
            </svg> Government Id</div>
          <div class="credential-item-govt"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path
                d="M256 48C141.6 48 48 141.6 48 256s93.6 208 208 208 208-93.6 208-208S370.4 48 256 48zm-42.7 318.9L106.7 260.3l29.9-29.9 76.8 76.8 162.1-162.1 29.9 29.9-192.1 191.9z">
              </path>
            </svg> Email
          </div>
          <div class="credential-item-govt"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path
                d="M256 48C141.6 48 48 141.6 48 256s93.6 208 208 208 208-93.6 208-208S370.4 48 256 48zm-42.7 318.9L106.7 260.3l29.9-29.9 76.8 76.8 162.1-162.1 29.9 29.9-192.1 191.9z">
              </path>
            </svg> Phone Number</div>
          <div class="credential-item-govt"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path
                d="M256 48C141.6 48 48 141.6 48 256s93.6 208 208 208 208-93.6 208-208S370.4 48 256 48zm-42.7 318.9L106.7 260.3l29.9-29.9 76.8 76.8 162.1-162.1 29.9 29.9-192.1 191.9z">
              </path>
            </svg> Work Email</div>
        </div>
      </div>
    </div>
  </div>
  <div class="host-details">
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1467004829965 desktop-show">
      <div class="container" style="padding: 0 40px;">
        <div class="wpb_column vc_column_container vc_col-sm-12">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <h2 class="title-has-line">Ademadu Malik</h2>
              <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                  <p class="landlords">My goal is to create lasting and meaningful relationships to my
                    clients&#8217;s brand and their audience through my rentals.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1467004829965 desktop-show">
      <div class="container" style="padding: 0 40px;">
        <div class="wpb_column vc_column_container vc_col-sm-12">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <!-- <h2 class="title-has-line">Ademadu Malik</h2> -->
              <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper" style="display: flex; flex-direction: column">
                  <p class="landlords"><strong style="font-family: poppinsbold">Speaks:</strong> English, Yoruba, French
                  </p>
                  <p class="landlords more-details"><strong style="font-family: poppinsbold">Profession:</strong> Law
                    Maker </p>
                </div>
                <div class="wpb_wrapper">
                  <div class="vc_row wpb_row vc_row-fluid vc_custom_1467004829965" style="margin-top: -9px;">
                    <div class="container" style="padding: 0;">
                      <hr style="background: #EBEBEB;
                            height: 1px;">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1467004829965 user-listing">
      <div class="container" style="padding: 0 40px;">
        <div class="wpb_column vc_column_container vc_col-sm-12">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <h2 class="title-has-line" style="font-size: 25px;">Malik's Listing</h2>
              <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                  <!-- <p class="landlords">My goal is to create lasting and meaningful relationships to my
                    clients&#8217;s brand and their audience through my rentals.</p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
