.start-bunks {
  height: 100vh !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}



.ld_button_5dbb7ed5b10cd.btn-icon-solid .btn-icon {
  background: rgb(156, 54, 23);
}

.ld_button_5dbb7ed5b10cd.btn-icon-circle.btn-icon-ripple .btn-icon:before {
  border-color: rgb(2, 1, 0);
}

.ld_button_5dbb7ed5b10cd .btn-split-bg {
  background: rgb(255, 225, 216);
}

.ld_button_5dbb7ed5b10cd {
  color: rgb(166, 106, 86);
  font-size: 14px !important;
  font-weight: 700 !important;
}

.ld_button_5dbb7ed5b10cd:hover {
  color: rgb(79, 16, 16);
}


.upp {
  display: flex !important;
  flex-wrap: nowrap !important;
  align-items: center !important;
  justify-content: left;
  font-family: poppinsr;
  margin: 0 !important;
  width: auto !important;
  flex: 1 0 !important;
  -ms-writing-mode: inherit !important;
  -webkit-writing-mode: inherit !important;
  writing-mode: inherit !important;
  font-style: normal !important;
  text-transform: uppercase;
  letter-spacing: .2em;
}


.dig {
  font-size: 72px;
  color: #000;
  font-weight: 700;
  margin-top: .75em;
  margin-bottom: .75em;
  margin-left: 0;
  margin-right: -100%;
  line-height: 1em;
}

#bunks-comfort {
  width: 25%;
  padding: 60px 0 60px 15px;
  z-index: 2000;
}

.separate-bunks {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

#dig {
  display: flex;
  margin-top: .75em;
  margin-bottom: .75em;
  margin-left: 0;
  margin-right: -80%;
  height: 60px;
  margin-bottom: 40px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15) !important;
}

#spaces{
  border: none;
  padding: 0 1rem;
  border-right: 2px solid #F2F2F2;
  font-family: poppinsr;
}

#locationspace{
  flex-grow: 10;
  border: none;
  padding: 0 1rem;
  font-family: poppinssb;
}
#heroo {
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  background-color: #fff;
  height: 75% !important;
  width: 100%;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}




@media(max-width: 360px) {
  .dig {
    font-size: 35px;
  }
}


@media(max-width: 550px) {
  .dig {
    font-size: 45px !important;
    text-align: center;
    margin-top: .75em !important;
    margin-bottom: .75em !important;
  }

  .hero-image {
    margin-top: 0 !important;
    width: 90% !important;
  }

  #bunks-comfort {
    width: 90% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 20px !important;
  }

  .upp{
    /* justify-content: left; */
  }


}

@media(max-width: 670px){
  .upp {
    width: 100% !important;
    margin-bottom: -20px !important;
    padding-top: 10px !important;
    justify-content: center;
  }
  #dig{
    flex-direction: column;
    height: fit-content;
  }

  #spaces{
    padding: 1rem 1rem;
    border-bottom: 1px solid #eae7e7;
  }

  #locationspace{
    padding: 1rem 1rem;
  }

  .ld_button_5dbb7ed5b10cd{
    margin-top: 2rem;
  }
}


@media(max-width: 762px) {
  .control-all {
    margin-top: -120px;
  }
}

@media(max-width: 1019px) {
  .breaknext{
    display: none;
  }

  .coversearch{
    width: 100%;
  }

  .upp {
    font-size: 11px !important;
  }

  .separate-bunks {
    flex-direction: column;
  }

  .hero-image {
    width: 80% !important;
    margin-top: -60px !important;
    height: 50% !important;
  }

  #bunks-comfort {
    width: 80% !important;
    padding: 0 !important;
  }

  .dig {
    font-size: 60px;
    margin-right: 0 !important;
  }

  #dig{
    margin-right: 0 !important;
  }

  #hero-styles {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}
