<div class="start-bunks">
  <div id="heroo" class="hidden hero-small" style="margin-top: -20px;">
    <div id="hero-styles" class=" parallax-hero separate-bunks">

      <div class="hero-image" style="background-image:url(./assets/img/blanket24.jpg)">
        <div class="overlay" style="background-color:rgba(255, 255, 255, 0)">
          <!-- Slide Caption -->
          <div class="clapat-caption animated ">
            <div class="caption-content bottom-left">
            </div>
          </div>
          <!--/Slide Caption -->
        </div>
      </div>
      <div id="bunks-comfort">
        <div class="upp">Sharing comfort</div>
        <div class="dig">Discover your<br class="breaknext"> perfect rental</div>
        <div class="coversearch">
          <form id="dig">
            <select name="spaces" id="spaces">
              <option value="Shared Apartments">Shared Apartments</option>
              <option value="Hostels">Hostels</option>
            </select>
            <input type="search" name="locationspace" id="locationspace" placeholder="Where do you want to live?">
          </form>
        </div>
        <a href="#main-content" class="btn btn-split text-uppercase ld_button_5dbb7ed5b10cd lqd-unit-animation-done"
          style="opacity: 1;">
          <span>
            <span class="btn-split-bg"></span>
            <span class="btn-txt" style="font-family: poppinsr">Book your
              stay</span>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
<div id="main">
  <div id="main-content" class="hidden">
    <app-apartment-cards></app-apartment-cards>
    <div class="control-all">
      <div class="vc_row wpb_row vc_row-fluid vc_custom_1454539270169 vc_row-has-fill">
        <div class="container">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element  vc_custom_1454538943956 bigger">
                  <div class="wpb_wrapper" style="margin-bottom: 15px;">
                    <span class="title-has-line books" style="">Bunk Plus places to
                      stay</span>
                  </div>
                  <div class="wpb_text_column wpb_content_element ">
                    <div class="">
                      <p class="smaller" style="">A selection of places to stay verified
                        for
                        quality and design</p>
                    </div>
                  </div>
                </div>
                <div class="wpb_text_column wpb_content_element ">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="vc_row wpb_row vc_row-fluid">
        <div class="container" style="">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element hostelplus hp">
                  <div class="wpb_wrapper" id="hpp">
                    <div id="hppp">
                      <img src="./assets/img/hplus.png" width="200" alt="">
                    </div>
                    <!-- <button>Expl stza</button> -->
                    <button class="clapat-button" id="hps" href="#main-content">Explore
                      stays <i class="fa fa-angle-right" style="font-size: 12px; margin-right: 5px;"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><br><br>

    <div class="vc_row wpb_row vc_row-fluid vc_custom_1454539270169 vc_row-has-fill"
      style="padding: 0 !important; margin: 0 !important;">
      <div class="container">
        <div class="wpb_column vc_column_container vc_col-sm-12">
          <div class="vc_column-inner" style="padding: 0;">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element  vc_custom_1454538943956 bigger">
                <div class="wpb_wrapper adm" style="">
                  <span class="explorebunks" style="">Explore Bunks</span>
                </div>
              </div>
              <div class="wpb_text_column wpb_content_element ">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vc_row wpb_row vc_row-fluid text-align-center vc_custom_1465857249450 vc_row-has-fill">
      <div class="container">
        <!-- style="margin-top: -20px !important;" -->
        <div class="wpb_column vc_column_container vc_col-sm-12">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div class="clients-carousel" id="cliont">
                <li style="margin-left: 3px !important;">
                  <div class="vc_column-inner ">
                    <div class="wpb_wrapper ">
                      <div class=" wpb_wrapper">
                        <img src="./assets/img/stayss.jpg" class="card-img-top" alt="..."
                          style="border-top-left-radius: 8px; border-top-right-radius: 
                                                            8px; width: inherit !important; box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15) !important;">
                        <div class="card-body" id="cs">
                          <h2 class="card-title u" style="text-align: left !important;"><span style="">Stays</span></h2>

                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="df">
                  <div class="vc_column-inner ">
                    <div class="wpb_wrapper ">
                      <div class=" wpb_wrapper">
                        <img src="./assets/img/dietexperience.jpg" class="card-img-top" alt="..."
                          style="border-top-left-radius: 8px; border-top-right-radius: 
                                                                8px; width: inherit !important; box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15) !important;">
                        <div class="card-body" id="cs">
                          <h2 class="card-title u" style="text-align: left !important;"><span
                              style="">Experiences</span></h2>


                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="df" style="margin-left: 2.8rem !important; opacity: 0 !important;">
                  <div class="vc_column-inner ">
                    <div class="wpb_wrapper ">
                      <div class=" wpb_wrapper">
                        <img src="./assets/img/beefexperience.jpg" class="card-img-top" alt="..."
                          style="border-top-left-radius: 8px; border-top-right-radius: 
                                                                    8px; width: inherit !important; box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15) !important;">
                        <div class="card-body" id="cs">
                          <h2 class="card-title u" style="text-align: left !important;"><span style="">Hostels</span>
                          </h2>


                        </div>
                      </div>
                    </div>
                  </div>
                </li>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="vc_row wpb_row vc_row-fluid" style="margin-top: 30px !important;">
      <div class="container">
        <div class="wpb_column vc_column_container vc_col-sm-12">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <ul class="team-images">
                <li style="background-image: url(./assets/img/center-table-comfortable-contemporary-2499970.jpg);">
                </li>
                <li style="background-image: url(./assets/img/apps-blur-button-close-up-267350.jpg);"></li>
                <li style="background-image: url(./assets/img/art-bright-bulbs-close-up-1146562.jpg);">
                </li>
                <li style="background-image: url(./assets/img/baskets-clean-color-cotton-271711.jpg);">
                </li>
                <li style="background-image: url(./assets/img/equipment-pavement-security-security-camera-430208.jpg);">
                </li>
                <li style="background-image: url(./assets/img/apartment-architecture-artist-447592.jpg);">
                </li>
              </ul>
              <div class="team-carousel">
                <div class="team-member-carousel" id="team-colo">
                  <div class="outer">
                    <div class="inner">
                      <div class="team-info" style="">
                        <h3 class="title-has-line"
                          style="text-transform: uppercase; color: #ffffff; background: rgba(0, 0, 0, 0.35)">
                          Browse beautiful places to stay with all the comforts of
                          home, plus more</h3>
                        <p class="smaller" style=""></p>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="team-member-carousel" id="team-colo">
                  <div class="outer">
                    <div class="inner">
                      <div class="team-info">
                        <h3 class="title-has-line"
                          style="text-transform: uppercase; color: #ffffff; background: rgba(0, 0, 0, 0.35)">
                          Enjoy unlimited access to the internet at very affordable prices! </h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="team-member-carousel" id="team-colo">
                  <div class="outer">
                    <div class="inner">
                      <div class="team-info">
                        <h3 class="title-has-line"
                          style="text-transform: uppercase; color: #ffffff; background: rgba(0, 0, 0, 0.35)">
                          Enjoy 24 hours power supply </h3>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="team-member-carousel" id="team-colo">
                  <div class="outer">
                    <div class="inner">
                      <div class="team-info">
                        <h3 class="title-has-line"
                          style="text-transform: uppercase; color: #ffffff; background: rgba(0, 0, 0, 0.35)">
                          Enjoy first-class laundery services at affordable prices</h3>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="team-member-carousel" id="team-colo">
                  <div class="outer">
                    <div class="inner">
                      <div class="team-info">
                        <h3 class="title-has-line"
                          style="text-transform: uppercase; color: #ffffff; background: rgba(0, 0, 0, 0.35)">
                          Cutting edge security technologies and security personels to watch over the premises</h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="team-member-carousel" id="team-colo">
                  <div class="outer">
                    <div class="inner">
                      <div class="team-info">
                        <h3 class="title-has-line"
                          style="text-transform: uppercase; color: #ffffff; background: rgba(0, 0, 0, 0.35)">
                          Sharing homely comfort, that's what bunks is all about!</h3>

                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="vc_row wpb_row vc_row-fluid vc_custom_1454539270169 vc_row-has-fill"
      style="margin-top: 30px !important;">
      <div class="container">
        <div class="wpb_column vc_column_container vc_col-sm-12">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element  vc_custom_1454538943956 bigger">
                <div class="wpb_wrapper" style="margin-bottom: 15px;">
                  <span class="title-has-line books" style="">Top-rated experiences</span>
                </div>
                <div class="wpb_text_column wpb_content_element ">
                </div>
              </div>
              <div class="wpb_text_column wpb_content_element ">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><br>

    <div class="vc_row wpb_row vc_row-fluid wow fadeInUp" id="clients">
      <div class="container" style="margin-top: -30px; ">
        <div class="wpb_column vc_column_container vc_col-sm-12">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div class="owl-carousel clients-carousel"
                style="display: flex; justify-content: space-between; flex-wrap: wrap; padding: 0; margin: 0;">
                <div class="mai">
                  <div class="foodsexp" style="flex-grow: 1"><span style="opacity: 0;">Imagess</span></div>
                  <span class="eim" style="flex-grow: 2;">Food &amp; Drink</span>
                </div>
                <div class="mai">
                  <div class="cinemasexp" style="flex-grow: 1"><span style="opacity: 0;">Imagess</span></div>
                  <span class="eim" style="flex-grow: 2;">Cinemas</span>
                </div>
                <div class="mai">
                  <div class="sportsexp" style="flex-grow: 1"><span style="opacity: 0;">Imagess</span></div>
                  <span class="eim" style="flex-grow: 2;">Sports</span>
                </div>

                <div class="mai" style="border-radius: 50px !important; opacity: 0;  margin-left: 20px !important;">
                  <div class="eim" style="flex-grow: 0"><i style="font-size: 24px !important;"
                      class="fa fa-angle-right"></i> <span style="opacity: 0;">Imagess</span></div>
                  <span class="eim" style="flex-grow: 2; opacity: 0;">Sports</span>
                </div>

              </div>

            </div>
          </div>
        </div>

      </div>
    </div><br><br>

  </div><br>
  <br>
</div>
