<div class="row">
  <div class="col-md-6 left">
    <form id="msform">
      <!-- progressbar -->
      <ul id="progressbar">
        <li class="active">Upload Photos</li>
        <li>Apartment Name</li>
        <li>Price your space</li>
      </ul>
      <!-- fieldsets -->
      <fieldset class="arrange">
        <h2 class="fs-title">Add photos to your listing</h2>
        <h3 class="fs-subtitle subtitle">Photos help guests imagine staying in your place. You can start with one and
          add more
          after you publish.
        </h3>
        <div class="row">
          <div class="col-md-6" style="position:relative; width: 100%">
            <form action="">
              <!--              <input type="file" class="upload" multiple id="photo-image" tabindex="-1">-->
              <!--              <label for="photo-image"></label>-->
              <article>
                <label for='files' class="label_image">
                  <div style="background: url('../../../../assets/img/upphoto.png');" class="inside_label">
                    <div style="display: inline-flex; flex-direction: column">
                      <div class="upload">Upload Photos</div>
                      <span class="uplab">or drag them in</span>
                    </div>
                    <div id='result'></div>
                  </div>
                </label>
                <input id='files' type='file' name="photos" multiple style="display: none;" [(ngModel)]="spaceToUploadContd.photos"/>
                <!--                <button type='button' id='clear'>Clear</button>-->

              </article>
            </form>
          </div>
        </div>
        <input type="button" name="next" class="next action-button mafo" value="Next"
               style="margin-top: 30px !important;"/>
      </fieldset>
      <fieldset class="arrange">
        <h2 class="fs-title">Name your place</h2>
        <h3 class="fs-subtitle subtitle sub" style="top: 0 !important;margin-bottom: 10px !important;">Attract guests
          with a
          listing title that highlights what makes your place special.</h3>
        <input type="text" id="apartment_name" name="apartment_name" style="font-size: 17px; margin-top: 15px"
               placeholder="Listing title" [(ngModel)]="spaceToUploadContd.title"/>
        <hr style="position:relative;top: 10px">
        <h2 class="fs-title" style="margin-top: 35px;">Describe your place to guests</h2>
        <h3 class="fs-subtitle subtitle sub">Write a quick summary
          of your place. You can highlight what’s special about your space, the neighborhood, and how you’ll interact
          with guests.</h3>
        <textarea cols="100" rows="50" type="text" id="apartment_summary" name="apartment_name"
                  style="font-size: 17px; margin-top: 15px; height: 100px"
                  placeholder="Describe the decor, lights, what's nearby etc..." [(ngModel)]="spaceToUploadContd.description"></textarea>
        <input type="button" name="previous" class="previous action-button-previous other_button" value="Previous"/>
        <input type="button" name="next" class="next action-button other_button" value="Almost there!"/>
      </fieldset>
      <fieldset class="arrange">
        <h2 class="fs-title">Price Your Space</h2>
        <h3 class="fs-subtitle subtitle sub" style="top: 0 !important;margin-bottom: 10px !important;">Increase your
          chances of getting booked</h3>
        <div style="position:relative;">
          <div id="naira">₦</div>
          <input type="text" id="pricing" name="apartment_name"
                 style="font-size: 17px; margin-top: 15px; padding: 15px 40px !important;"
                 placeholder="Listing price" [(ngModel)]="spaceToUploadContd.price"/>
        </div>
        <hr style="position:relative;top: 10px">
        <input type="button" name="previous" class="previous action-button-previous other_button" value="Previous"/>
        <input type="button" name="next" class="next action-button other_button" value="Almost there!!"/>
      </fieldset>
      <fieldset class="arrange">
        <h2 class="fs-title">Well done {{ firstName }}!</h2>
        <span class="steps">Your apartment is ready to publish!</span>
        <h3 class="fs-subtitle">You’ll be able to welcome your first guest starting February. If you’d like to
          update your calendar or house rules, you can easily do all that after you hit publish.</h3>
          <p>{{ statusOfUpload }}</p>
        <input type="button" name="previous" class="previous action-button-previous mafoo" value="Previous"/>
        <button class="clapat-button algn" style="padding: 20px; text-decoration: none" (click)="uploadSpace()">Finish</button>
      </fieldset>

    </form>
  </div>
</div>
