<div id="hero" class="hidden" style="height: 608px !important">
  <div id="hero-styles" class=" parallax-hero">

    <div class="hero-image img-top" style="background-image:url(./assets/img/apartment-key.jpg);">
      <div class="overlay" style="background-color:rgba(255, 255, 255, 0)">
        <!-- Slide Caption -->
        <div class="clapat-caption animated " style="">
          <div class="caption-content bottom-left cl-cont">
            <h1 class="hosti">
              Let's Grow Your<br> Bunks Together</h1>
            <p class="smalll">Take your rental and earning power to<br class="brr"> the next level. </p>
            <!-- <h1 class=" title-has-line">Bario</h1> -->
            <button class="cbuttton" routerLink="/become-a-host/room">Get started</button>
          </div>
        </div>
        <!--/Slide Caption -->
      </div>
    </div>
  </div>
</div>
<!--/Hero -->
<!-- Main -->
<div id="main">
  <div id="main-content" class="hidden">
    <div class="vc_row wpb_row vc_row-fluid" style="position: relative; top: 70px;">
      <div class="container">
        <div class="wpb_column vc_column_container vc_col-sm-6" style="padding: 0 10px;">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <h4 class="convince-bunks">Why host on Bunks?</h4>
              <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper wrap">
                  <p class="p">No matter what kind of home or room you have to share, Bunks makes it simple and secure
                    to host customers.
                    You’re in full control of your availability, prices, house rules, and how you interact
                    with guests.</p>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-6" style="padding: 0 10px;">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper wrap">
              <h4 class="convince-bunks">Use Bunks alongside other platforms </h4>
              <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper wrap">
                  <p class="p"> Using Bunks along with your other relationships isn't a problem! With our simple
                    calendar, you can manage your availability parallel to your existing relationships.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vc_row wpb_row vc_row-fluid" style="position: relative; top: 120px;">
      <div class="container">
        <div class="wpb_column vc_column_container vc_col-sm-12" style="padding: 0 10px;">
          <div class="vc_column-inner inn">
            <div class="wpb_wrapper hosting">
              <h4 class="convince-bunk">Hosting in 3 steps</h4>
              <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper" style="padding-right: 25px;">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vc_row wpb_row vc_row-fluid" style="position: relative; top: 100px;">
      <div class="container">
        <div class="wpb_column vc_column_container vc_col-sm-4" style="padding: 0 10px;">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <h4 class="convince-bunks margin-fix">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 172 172"
                  style=" fill:#000000;">
                  <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                    font-family="none" font-weight="none" font-size="none" text-anchor="none"
                    style="mix-blend-mode: normal">
                    <path d="M0,172v-172h172v172z" fill="none"></path>
                    <g fill="#484848">
                      <path
                        d="M37.84,13.76c-13.26281,0 -24.08,10.81719 -24.08,24.08v96.32c0,13.26281 10.81719,24.08 24.08,24.08h96.32c13.26281,0 24.08,-10.81719 24.08,-24.08v-96.32c0,-13.26281 -10.81719,-24.08 -24.08,-24.08zM37.84,20.64h96.32c9.54063,0 17.2,7.65938 17.2,17.2v96.32c0,9.54063 -7.65937,17.2 -17.2,17.2h-96.32c-9.54062,0 -17.2,-7.65937 -17.2,-17.2v-96.32c0,-9.54062 7.65938,-17.2 17.2,-17.2zM124.64625,54.46219l-45.82187,54.08594l-27.97688,-26.09563l-4.68969,5.03906l33.24437,31.01375l50.51156,-59.59531z">
                      </path>
                    </g>
                  </g>
                </svg><br>
                <span>List your space for free</span>
              </h4>
              <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper wrap">
                  <p class="p">Share any space without sign-up charges, from a shared living room to a second home and
                    everything in-between.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-4" style="padding: 0 10px;">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <h4 class="convince-bunks margin-fix">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 172 172"
                  style=" fill:#000000;">
                  <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                    font-family="none" font-weight="none" font-size="none" text-anchor="none"
                    style="mix-blend-mode: normal">
                    <path d="M0,172v-172h172v172z" fill="none"></path>
                    <g fill="#484848">
                      <path
                        d="M37.84,13.76c-13.26281,0 -24.08,10.81719 -24.08,24.08v96.32c0,13.26281 10.81719,24.08 24.08,24.08h96.32c13.26281,0 24.08,-10.81719 24.08,-24.08v-96.32c0,-13.26281 -10.81719,-24.08 -24.08,-24.08zM37.84,20.64h96.32c9.54063,0 17.2,7.65938 17.2,17.2v96.32c0,9.54063 -7.65937,17.2 -17.2,17.2h-96.32c-9.54062,0 -17.2,-7.65937 -17.2,-17.2v-96.32c0,-9.54062 7.65938,-17.2 17.2,-17.2zM124.64625,54.46219l-45.82187,54.08594l-27.97688,-26.09563l-4.68969,5.03906l33.24437,31.01375l50.51156,-59.59531z">
                      </path>
                    </g>
                  </g>
                </svg><br>
                <span>Decide how you want to host</span>
              </h4>
              <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper wrap">
                  <p class="p">Choose your own schedule, prices, and requirements for guests. We’re there to help along
                    the way.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-4" style="padding: 0 10px;">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <h4 class="convince-bunks margin-fix">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 172 172"
                  style=" fill:#000000;">
                  <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                    font-family="none" font-weight="none" font-size="none" text-anchor="none"
                    style="mix-blend-mode: normal">
                    <path d="M0,172v-172h172v172z" fill="none"></path>
                    <g fill="#484848">
                      <path
                        d="M37.84,13.76c-13.26281,0 -24.08,10.81719 -24.08,24.08v96.32c0,13.26281 10.81719,24.08 24.08,24.08h96.32c13.26281,0 24.08,-10.81719 24.08,-24.08v-96.32c0,-13.26281 -10.81719,-24.08 -24.08,-24.08zM37.84,20.64h96.32c9.54063,0 17.2,7.65938 17.2,17.2v96.32c0,9.54063 -7.65937,17.2 -17.2,17.2h-96.32c-9.54062,0 -17.2,-7.65937 -17.2,-17.2v-96.32c0,-9.54062 7.65938,-17.2 17.2,-17.2zM124.64625,54.46219l-45.82187,54.08594l-27.97688,-26.09563l-4.68969,5.03906l33.24437,31.01375l50.51156,-59.59531z">
                      </path>
                    </g>
                  </g>
                </svg><br>
                <span>Welcome your first guest</span>
              </h4>
              <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper wrap">
                  <p class="p">Once your listing is live, qualified guests can reach out. You can message them with any
                    questions before their stay.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="vc_row wpb_row vc_row-fluid text-align-center light-content vc_custom_1467332056182 vc_row-has-fill dark-continue">
      <div class="container" style="position: relative; bottom: 130px;">
        <div class="wpb_column vc_column_container vc_col-sm-12">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <!-- <h2>The Layout</h2> -->
              <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1467332078593">

                <figure class="wpb_wrapper vc_figure">
                  <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1500" height="796"
                      src="./assets/img/bb358a46-fa25-4895-b5fd-048a386bdcac.jpg"
                      class="vc_single_image-img attachment-full" alt=""
                      srcset="./assets/img/bb358a46-fa25-4895-b5fd-048a386bdcac.jpg 1500w, ./assets/img/bb358a46-fa25-4895-b5fd-048a386bdcac.jpg 300w, ./assets/img/bb358a46-fa25-4895-b5fd-048a386bdcac.jpg 768w, ./assets/img/bb358a46-fa25-4895-b5fd-048a386bdcac.jpg 1024w"
                      sizes="(max-width: 1500px) 100vw, 1500px" /></div>
                </figure>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-12" style="padding: 0 10px;">
                <div class="vc_column-inner inn">
                  <div class="wpb_wrapper hosting">
                    <h4 class="convince-bunk text-white">Payments made simple</h4>
                    <div class="wpb_text_column wpb_content_element ">
                      <div class="wpb_wrapper" style="padding-right: 25px;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1467331939577">
                <div class="wpb_column vc_column_container vc_col-sm-4 payment">
                  <div class="vc_column-inner ">
                    <div class="wpb_wrapper t-left-align">
                      <h4 class="convince-bunks margin-fix">
                        <span style="color: #c3c3c3 !important">Charge what you want</span>
                      </h4>
                      <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper" style="padding-right: 25px;">
                          <p class="p text-white">You always get to pick your price. Need help? We have tools to help
                            you match demand in your area.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-4 payment">
                  <div class="vc_column-inner ">
                    <div class="wpb_wrapper t-left-align">
                      <h4 class="convince-bunks margin-fix">
                        <span style="color: #c3c3c3 !important">Pay low fees</span>
                      </h4>
                      <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper" style="padding-right: 25px;">
                          <p class="p text-white">There’s no cost to sign up. Airbnb generally charges hosts a flat 3%
                            per reservation, among the lowest fees in the industry.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-4 payment">
                  <div class="vc_column-inner ">
                    <div class="wpb_wrapper t-left-align">
                      <h4 class="convince-bunks margin-fix">
                        <span style="color: #c3c3c3 !important">Get paid quickly</span>
                      </h4>
                      <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper" style="padding-right: 25px;">
                          <p class="p text-white">Once a guest checks in, we can send your money by Paypal, direct
                            deposit, or other available methods.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="vc_row wpb_row vc_row-fluid text-align-center small vc_custom_1467332810207 vc_row-has-fill"
        style="padding-bottom: 0 !important;">
        <div class="container">
          <div class="wpb_column vc_column_container vc_col-sm-12" style="padding: 0 10px;">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper hosting" style="position: relative;  bottom: 70px;">
                <h4 class="convince-bunk">About Bunks</h4>
                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper" style="padding-right: 25px;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="vc_row wpb_row vc_row-fluid" style="position: relative; position: relative;
      background: #f9f9f9; bottom: 100px; padding-bottom: 60px;">
        <div class="container">
          <div class="wpb_column vc_column_container vc_col-sm-6" style="padding: 0 10px;">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper" style="text-align: left;">
                <h4 class="convince-bunks">What is Bunks?</h4>
                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper" style="padding-right: 25px;">
                    <p class="p">Bunks connects people with places to stay and things to do around Lagos. The
                      community is powered by our affordable apartments, community hosts, and hostel owners who provide
                      their guests with affordable stays and excellent services.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wpb_column vc_column_container vc_col-sm-6" style="padding: 0 10px;">
            <div class="vc_column-inner inn">
              <div class="wpb_wrapper" style="text-align: left;">
                <h4 class="convince-bunks">What is hosting? </h4>
                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper" style="padding-right: 25px;">
                    <p class="p"> If you have an extra room, entire home, or expertise, you can earn money by sharing it
                      with anyone around Nigeria. You can host your home, activity, or do both. When you host is up to
                      you.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="vc_row wpb_row vc_row-fluid text-align-center vc_custom_1467332810207 vc_row-has-fill"
        style="padding-bottom: 0 !important; position: relative; bottom: 200px">
        <div class="container">
          <div class="wpb_column vc_column_container vc_col-sm-12" style="padding: 0 10px;">
            <div class="vc_column-inner inn">
              <div class="wpb_wrapper hosting" style="position: relative;  bottom: 30px;">
                <h4 class="convince-bunk">Frequently asked questions</h4>
                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper" style="padding-right: 25px;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="vc_row wpb_row vc_row-fluid vc_custom_1454539421789 vc_row-has-fill accordionn">
        <div class="container">
          <div class="wpb_column vc_column_container vc_col-sm-6">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper">
                <div class="toggle-wrap"> <span class="toggle-title faq"><a href="#">Who can be a Bunks host?
                    </a></span>
                  <div class="toggle_container faq" style="display: none;">It’s easy to become a Bunks host in most
                    areas, and it’s always free to create a listing. Entire apartments and homes, private rooms,
                    treehouses,
                    and castles are just a few of the properties hosts have shared on Bunks.<br><br>

                    For more details on what’s expected of hosts, check out Bunks' community standards, which revolve
                    around safety, security, and reliability, and hospitality standards, which help hosts earn great
                    guest reviews.</div>
                </div>
                <div class="toggle-wrap"> <span class="toggle-title faq"><a href="#">What is required of guests before
                      booking?</a></span>
                  <div class="toggle_container faq" style="display: none;">We ask everyone who uses Bunks for a few
                    pieces
                    of information before they book with us. Guests need to have this info completely filled out
                    before they can make a reservation request. This info helps make sure you know who to expect, and
                    how to contact the guest.<br><br>

                    Bunks' requirements for guests include:<br><br>
                    <ul class="ull">
                      <li>Full name</li>
                      <li>Email address</li>
                      <li>Confirmed phone number</li>
                      <li>Introductory message</li>
                      <li>Agreement to your House Rules</li>
                      <li>Payment information</li>
                    </ul>
                  </div>
                </div>
                <div class="toggle-wrap"> <span class="toggle-title faq"><a href="#">How much does it cost to list my
                      space?</a></span>
                  <div class="toggle_container faq" style="display: none;">Signing up for Bunks and listing your home
                    is completely free.<br><br>
                    Once you receive a reservation, we charge an Bunks service fee for hosts, generally 3%, to help
                    cover the cost of running of the business.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="wpb_column vc_column_container vc_col-sm-6">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper">
                <div class="toggle-wrap"> <span class="toggle-title faq"><a href="#">How should I choose my listing’s
                      price?</a></span>
                  <div class="toggle_container faq" style="display: none;">The price you charge for your listing is
                    completely up to you. To help you decide, you can search for comparable listings in your city or
                    neighborhood to get an idea of market prices.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- style="position: relative; bottom: 220px; background: url('./assets/img/apartment.jpg')" -->
      <div class="vc_row wpb_row vc_row-fluid text-align-center light-content vc_custom_1467006773887 vc_row-has-fill"
        style="bottom: 220px;
      padding: 150px 0; background: url('./assets/img/start.jpg'); background-size: cover;
    background-position: center;">
        <div class="container">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper" style="text-align: left;
              padding: 0 30px;
              bottom: 40px;
              position: relative;">
                <h1 style="font-family: poppinssb !important;">Tell us about the home<br class="brr"> you wish to list
                </h1>
                <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
                <a class="clapat-button" href="http://themeforest.net/user/clapat/portfolio" target="_blank">Get
                  started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="more-faqs">Still not sure about something? Find answers to all your questions in our <span
          style="color: #9db99d; margin-left: 5px;">FAQs</span></div>
      <style data-type="vc_shortcodes-custom-css" type="text/css">
        .vc_custom_1467331785258 {
          margin-top: 0px !important;
          margin-bottom: 0px !important;
        }

        .vc_custom_1467332056182 {
          padding-top: 150px !important;
          padding-bottom: 150px !important;
          background-color: #222222 !important;
        }

        .vc_custom_1467332810207 {
          padding-top: 120px !important;
          padding-bottom: 100px !important;
          background-color: #f9f9f9 !important;
        }

        .vc_custom_1467025777235 {
          padding-top: 150px !important;
          padding-bottom: 150px !important;
          background-color: #f9f9f9 !important;
        }

        .vc_custom_1467331917341 {
          margin-bottom: 0px !important;
        }

        .vc_custom_1467332078593 {
          margin-top: 100px !important;
          margin-bottom: 100px !important;
        }

        .vc_custom_1467118480782 {
          margin-bottom: 100px !important;
        }

        .vc_custom_1467331939577 {
          margin-bottom: 100px !important;
        }

        .vc_custom_1467332774905 {
          margin-bottom: 0px !important;
        }

      </style>
    </div>
  </div>
